<nav class="navbar navbar-expand-lg navbar-dark rounded row">
      
      <div class = 'col-sm-2'>
            <button class="nav-link btn btn-info saved" >Saved Articles <span class="sr-only">(current)</span></button>
      </div>
      
      <div class = 'col-sm-2'>
            <button class="nav-link btn btn-info onion">scrape onion <span class="sr-only">(current)</span></button>
      </div>

</nav>

<h1>Article Scraper</h1>
      <h2>Generate 20 articles from the onion when you press the "scrape onion" button.</h2>
      
      <div id="articles">      
      </div>
      
      <div id="notes"></div>


      