<nav class="navbar navbar-expand-lg navbar-light rounded row">
      <div class="col-sm-2">
            <a class='btn btn-info' href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
      </div>
</nav>

<h1>Note Scraper</h1>
<h2>Manage your saved articles</h2>
<br>
{{#each articles}}
      {{#if this.saved}}
            <div class="card rounded">
                  <div class="card-header">
                        <a href='{{this.link}}'>{{this.title}}</a>
                  </div>
                  <div class="card-body">
                        <p>{{this.summary}}</p>
                        <br>
                        <p class="card-text">click the button to save</p>
                        <button data-id='{{this._id}}' class="btn btn-info article">Save Article</button>
                  </div>
            </div>
            <br>
      {{/if}}
{{/each}}
<div id="savedArticles"></div>