html {
    background-color: darkslategrey;
}

body {
    background-color: darkslategrey;
}


.navbar {
    background-color: darkgrey;
}

.card-header {
    background-color: darkgrey;
}

a {
   color: darkslategrey;
}